body {
	background-color: #D3D3D3;
	font-family: arial;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	text-align: justify; 
}

img {
	padding-left: 300px;
	width: 300px;
}

header {
	margin-bottom: 50px;
}

h1 {
	font-family: arial;
	border: 2px solid black;
	margin-top: 40px;
	margin-bottom: 30px;
}

h2 {
	font-family: arial;
	border-bottom: 2px solid black;
	margin-top: 50px;
}

p {
	text-indent: 20px;
}